<h2>League Home</h2>

<%= render :partial => '/scores/scoreboard' %>

<div id="main">
  <%= render :partial => '/standings/league_home' %>
</div>

<div id="side">  
  <%= render :partial => '/league/transactions' %>
</div>  
<div class="clear"></div>